.panel-primary {
    //
    width: 100%;
}
.panel-primary img {
    //width:30%;
    width:200px;
}
.panel-primary h3{
    margin-top:5px;
    //width: 70%;
}
.row1{
    height:155px;
    display: -webkit-inline-box;
}
.row2{
    height:50px;
    padding-right:10px;
}
.eventData{
    width: 190px;
    margin-right: 15px;
}
.eventTitle{

}
.eventClicks {
    //float: left;
    display: grid;
    width: 150px;
    padding-top: 30px;
}
.eventClicks button {
    width: 140px;
}