.panel-primary {
//
width: 100%;
    padding:8px;
}
.panel-body{
    padding:0
}

.row1 h3{
    margin-top:0px;
    margin-bottom: 10px;
//width: 70%;
}
.row2{
//height:155px;
    display: flex;
    margin-bottom: 20px;
}
.row2 img {
    width:30%;
    height: 60%;
    max-height: 100px;
//width:200px;
}
.eventData{
    width: 45%;
    margin-right: 2%;
}
.eventTitle p{
    margin-bottom: 5px;
}
.row3{
    height:50px;
    padding-right:10px;
}
.eventClicks .btn  {
    margin-left:5px;
    width: 100%;
    margin-bottom: 10px;
}
.btn-check {
    background-color: #0e5796;
}

.eventClicks {
//float: left;
//display: grid;
    width: 20%;
    padding-right: 2%;
}

.timeline-panel{
    border: none;
    box-shadow:none;
}
.timeline > li > .timeline-panel {
    padding:8px;
}